<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-3 foot">
                <h4>How to Aquire</h4>
                <ul class="">
                    <li><a href="#">Land Bank</a></li>
                    <li><a href="#">Home Stead</a></li>
                    <li><a href="#">Other Goverment</a></li>
                    <li><a href="#">Private Owners</a></li>

                </ul>
            </div>

            <div class="col-sm-6 foot">
                <h4>Contributers</h4>


                <ul class="">
                    <li><a href="#">UMKC School of Law, Law, Technology and Public Policy class</a><br></li>
                    <li><a href="#">Code for Kansas City</a></li>


                </ul>

            </div>

            <div class="col-sm-3 foot">
                <h4>Contact</h4>
                <p>Email</p>

            </div>
        </div>
    </div>
</footer>


