<header class="site-header">

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">{{ my_page.title }}</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="{{ "index.html" | prepend: site.baseurl }}">Home</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Directories <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{{ "Abandoned Housing Interested Organizations and Initiatives.html" | prepend: site.baseurl }}">GitHub Document</a></li>
                <li><a href="{{ "organization-list.html" | prepend: site.baseurl }}">Google Spreadsheet</a></li>
              </ul>
            </li>
            <li><a href="{{ "glossary.html" | prepend: site.baseurl }}">Glossary</a></li>
            <li><a href="{{ "about.html" | prepend: site.baseurl }}">About</a></li>
            <li><a href="{{ "contact.html" | prepend: site.baseurl }}">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
</header>
