<!-- File: chapter10/routing-example/app/views/team_details.html -->
<div class="team-details-container card">
    <div class="team-logo">

    </div>
    <div class="name">
        <span ng-bind="teamDetailsCtrl.team.name"></span>
        (<span ng-bind="teamDetailsCtrl.team.name"></span>)
    </div>
    <div class="detail">
        <div class="label">
            <span>Nickname</span>
        </div>
        <div class="title">
            <span ng-bind="teamDetailsCtrl.team.name"></span>
        </div>
    </div>

</div>
