<!-- File: chapter10/routing-example/app/views/team_details.html -->

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-3">
                    <p class="text-right" style="color: gray">Organization:</p>
                </div>
                <div class="col-md-9">
                    <p>{{teamDetailsCtrl.org.organizationname}}</p>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="row">

                <div class="col-md-3">
                    <p class="text-right" style="color: gray">Contact:</p>
                </div>
                <div class="col-md-9">
                    <p>{{teamDetailsCtrl.org.nameofcontactperson}}&nbsp;</p>
                </div>

            </div>
        </div>


    </div>

</div>
</div>
