<!-- File: chapter10/routing-example/app/views/teams_list.html -->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            {{ console.dir(teamListCtrl.types); }}
            <!--- http://www.undefinednull.com/2014/08/11/a-brief-walk-through-of-the-ng-options-in-angularjs/ -->
            <table id="types" class="table table-striped">
                <thead>
                <tr>
                    <th>name</th>

                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="type in teamListCtrl.types">

                    <td>1 - {{type['name']}}</td><td>{{type.name}}</td>
                </tr>
                </tbody>

            </table>



            <br/>

            <table id="projects" class="table table-striped">
                <thead>
                <tr>
                    <th>Organization</th>
                    <th>Type</th>
                    <th>Role</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="org in teamListCtrl.orgs | searchOrgs:searchText | orderBy: 'organizationname'">
                    <td><p class="hangingindent"><b>{{org.organizationname}}:</b> {{org.descriptionoforganizationorinitiative}}</p></td>
                    <td>{{org.typeofentity}}</td>
                    <td>{{org.tags}}</td>
                    <td>
                        <a title="{{org.organizationname}}"
                           ng-href="#/team/{{org.id}}">
                            <span class="glyphicon glyphicon-info-sign"></span></a>

                        <span ng-if="org.show_interview > 0">
                            &nbsp;&nbsp;
                            <a title="Interview with {{org.name}} or {{org.organizationname}}"
                           ng-href="/interviews/{{org.linktogithubinterview}}"><span
                                class="glyphicon glyphicon-open-file"></span></a>
                        </span>
                    </td>
                </tr>
                </tbody>

            </table>
        </div>
    </div>
</div>

