<!-- File: chapter10/routing-example/app/views/team_details.html -->

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-3">
                    <p class="text-right" style="color: gray">Organization:</p>
                </div>
                <div class="col-md-9">
                    <p>{{teamDetailsCtrl.org.organization}}</p>
                </div>
                <div class="col-md-3">
                    <p class="text-right" style="color: gray">Description:</p>
                </div>
                <div class="col-md-9">
                    <p>{{teamDetailsCtrl.org.whatdotheydo}}&nbsp;</p>
                </div>
                <div class="col-md-3">
                    <p class="text-right" style="color: gray">Overlaps:</p>
                </div>
                <div class="col-md-9">
                    <p>{{teamDetailsCtrl.org.whatoverlapsexist}}&nbsp;</p>
                </div>
                <div class="col-md-3">
                    <p class="text-right" style="color: gray">Partners:</p>
                </div>
                <div class="col-md-9">
                    <p>{{teamDetailsCtrl.org.whatorginzationsdoyoupartnerwithorganizationnameandwebsite}}&nbsp;</p>
                </div>
                <div class="col-md-3">
                    <p class="text-right" style="color: gray">Who else should we talk to:</p>
                </div>
                <div class="col-md-9">
                    <p>{{teamDetailsCtrl.org.whoelseshouldwetalkto}}&nbsp;</p>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="row">

                <div class="col-md-3">
                    <p class="text-right" style="color: gray">Contact:</p>
                </div>
                <div class="col-md-9">
                    <p>{{teamDetailsCtrl.org.name}}&nbsp;</p>
                </div>
                <div class="col-md-3">
                    <p class="text-right" style="color: gray">Role/Title:</p>
                </div>
                <div class="col-md-9">
                    <p>{{teamDetailsCtrl.org.roletitle}}&nbsp;</p>
                </div>
                <div class="col-md-3">
                    <p class="text-right" style="color: gray">Data Significance:</p>
                </div>
                <div class="col-md-9">
                    <p">{{teamDetailsCtrl.org.datasignificance}}&nbsp;</p>
                </div>

                <div class="col-md-3">
                    <p class="text-right" style="color: gray">Sharable Data:</p>
                </div>
                <div class="col-md-9">
                    <p">{{teamDetailsCtrl.org.whatdatacanyoushare}}&nbsp;</p>
                </div>



                <div class="col-md-3">
                    <p class="text-right" style="color: gray">Resources Needed:</p>
                </div>
                <div class="col-md-9">
                    <p">{{teamDetailsCtrl.org.whatresourcesdoyouwant}}&nbsp;</p>
                </div>


            </div>
        </div>


    </div>

</div>
</div>
